/ghost/master/profile
ghost/master/yaya_variable.cfg
/shell/bookworm_and_lectern_v1.0.0/profile
/shell/suke/profile
/shell/fluffydemon/profile
/shell/master/profile
/shell/bluemesh/profile
/shell/weissvern/profile
/shell/bookworm/profile
/shell/goldfish/profile
/shell/vampire/profile
/shell/antlers/profile
/shell/michael/profile
/shell/moonlight/profile
